@page "/user-profile"
@model UserProfilePageModel
@{
    ViewData["Title"] = "User Profile";
}

<partial name="_HeaderPartial" />

<main>

    <h1>User Profile</h1>

    <section style="margin-bottom:3.67em;">

        <h2>User Information
            @* <a asp-page="/settings"><span class="material-symbols-outlined">edit</span></a> *@
        </h2>

        <div style="display:grid; grid-template-columns: 7.67em auto; grid-gap: .67em;">

            <span>Username</span>
            <span>@Model.Username</span>

            @*
            <span>First Name</span>
            <span>@Model.FirstName</span>

            <span>Last Name</span>
            <span>@Model.LastName</span>

            <span>Display Name</span>
            <span>@Model.DisplayName</span>
            *@

        </div>

    </section>

    <section>

        <h2>Assigned Roles</h2>

        <div style="display:inline-grid; grid-template-columns: repeat(4, 12em); grid-gap: .67em;">

            @foreach (var claimName in Model.ClaimNames)
            {
                <span>@claimName</span>
            }
        </div>
        
        @* <div class="panel">
            <button>Assign Roles</button>
        </div> *@

    </section>

    <section>

        <h2>Password</h2>

        <p>Password was last changed at @Model.PasswordLastUpdateDateTime.ToShortDateString() 
            (@(Math.Truncate((DateTime.UtcNow - Model.PasswordLastUpdateDateTime).TotalDays)) days ago)
        </p>

        <div class="panel">
            <a asp-page="ChangePassword">Go change password</a>
            @* <button>Change password</button> *@
        </div>

    </section>

    <section>

        <h2>User Preferences</h2>

        @* <p>
            Password was last changed at @Model.PasswordLastUpdateDateTime.ToShortDateString()
            (@(Math.Truncate((DateTime.UtcNow - Model.PasswordLastUpdateDateTime).TotalDays)) days ago)
        </p> *@

        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>k1</td>
                    <td>v11</td>
                </tr>
            </tbody>
        </table>

        <div class="panel">
            <a asp-page="UpdateUserPreferences">Go update user preferences</a>
        </div>

    </section>




@* 
    <section>

        <h2>Password</h2>

        <p>Password was last changed at 22-12-2024 13:28.</p>

        <div class="panel">
            <button>Change password</button>
        </div>

    </section> 
    *@

</main>

<partial name="_FooterPartial" />